@using Microsoft.AspNet.Identity
@using BugTracker.Helpers
@using BugTracker.Models
@model BugTracker.Models.ApplicationUser
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "preview-subject mb-1" }))
    {
        @Html.AntiForgeryToken()


        <ul class="preview-subject mb-1">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }

}
