
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>


<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">
       
            <div id="calendar"></div>
       

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->
</div><!--End content-wrapper-->

    @*<script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>*@
    
    
